@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-image: url(img/background.png);
    background-size: 150%;
}

main{
    display: flex;
    max-width: 1170px;
    justify-content: center;
    align-items: center;
    margin: 50px 100px;
}

.conteudo{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

}

.logo-texto{
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: space-between;
}
.textos{
    text-align: justify;
    max-width: 70%;
}

#logo{
    display: flex;
    justify-content: center;
    margin: 20px 0 30px 0;
}

#logo img{
    width: 75%;
}

.video{
    display: flex;
    justify-content: center;
    height: 50%;
}

iframe{
    max-width: 80%;
    box-shadow: 2px 2px 22px 7px rgba(0, 0, 0, 0.2);
    margin-top: 30px;
}

.mensagem{
    margin-top: 50px;
    width:70%;
    background-color: #de2525;
    display: flex;
    flex-direction: column;
    padding: 50px 10%;
    align-items: center;
    border-radius: 10px;
}

.informacao-titulo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h1{
    font-size: 16px;
    text-align: justify;
    text-align: center;
    color: white;
    font-weight: normal;
    padding-left: 20px;
    padding-right: 40px;
}

h1 em{
    font-size: 26px;
    font-weight: bold;
}

.barra{
    margin:20px 0px ;
    height: 1px;
    width: 100%;
    background-color:#fff;
    align-self: center;
}

.informacao-2{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: space-between;
}

.texto-informacao{
    font-size: 16px;
    text-align: justify;
    color: white;
    font-weight: normal;
    padding-left: 20px;
    padding-right: 40px;
}

.texto-informacao em{
    font-size: 26px;
    font-weight: bold;
}

.icon{
    width: 20%;
    margin-bottom: 20px;
}

.icon-2{
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

a{
    color:#de2525;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 80%;
    background-color: #fff;
    border-radius: 7px;
    margin-top: 30px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    justify-content: center;
    width: 100%; 
}

.logo{
    display: flex;
    justify-content: center;
    padding: 25px 0px;
}

.logo img{
    width: 150px;
}

.redes-social{
    display: flex;
    justify-content: space-around;
    width: 100px;
}

.social img{
    width: 40px;
    margin-bottom: 7px;
}

.barra-vermelha{
    margin:0px 0px ;
    height: 17px;
    width: 100%;
    background-color:#de2525;
    align-self: center;
}

@media(max-width: 768px){
    .mensagem {
        width: 99%;
        padding: 50px 6%;
    }

    .informacao-2{
        flex-direction: column;
        align-items: center;
    }

    .texto-informacao{
        text-align: center;
    }

    a{
        font-size: 13px;
        font-weight: bolder;
    }

    main{
        margin: 50px 30px;
    }

    iframe{
        max-width: 100%;
    }
}